[Desktop Entry]
Name=Mozilla Thunderbird
Name[pl]=Mozilla Thunderbird
Comment=Email client based on Mozilla technology
Comment[ca]=Llegiu i escriviu correu
Comment[de]=Emails lesen und verfassen
Comment[fr]=Lire et écrire votre mél
Comment[pl]=Klient poczty oparty na technologii Mozilli
Exec=mozilla-thunderbird-bin
Icon=mozilla-thunderbird-bin.xpm
Terminal=false
Type=Application
MimeType=x-scheme-handler/mailto;x-scheme-handler/webcal;
Categories=GTK;Network;Email;
Encoding=UTF-8
# vi: encoding=utf-8
